<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-clip-rotate"
  [fullScreen]="true"
  ><p style="color: white">Deleting...</p></ngx-spinner
>
<div class="container-fluid pt-4 min-h-screen">
  <div class="bg-white mt-3 p-3 rounded-md">
    <h3 class="text-3xl font-medium text-gray-700">Courses</h3>
  </div>

  <div class="my-3 flex justify-end items-end me-3">
    <a
      type="button"
      (click)="toAdd()"
      class="text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
    >
      Add Course
    </a>
  </div>
  <hr class="border-3 text-cyan-300" />
  <div class="my-4 flex">

    <div class="ms-5 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
      <div
        class="max-w-sm h-96 w-80 bg-white rounded overflow-hidden shadow-lg m-4"
        *ngFor="let c of courses"
      >
        <img class="w-80 h-40 border-b-2 border-cyan-700" [src]="c.image_id" alt="Thumbnail" />
        <div class="px-6 py-4">
          <div class="font-bold text-xl text-center text- mb-2">{{ c.title }}</div>
          <p class="text-red-700 text-base text-center">{{ c.price }}.00 RS</p>

        </div>
        <div class="px-6 pt-4 pb-2 justify-between flex">
          <button
            type="button"
            (click)="toView(c._id)"
            class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-4 py-2.5 text-center mr-2 mb-2"
          >
            View
          </button>
          <button
            type="button"
            (click)="toEdit(c._id)"
            class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-4 py-2.5 text-center mr-2 mb-2"
          >
            Edit
          </button>
          <button
            type="button"
            (click)="deleteCourse(c._id)"
            class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-lg text-sm px-4 py-2.5 text-center mr-2 mb-2"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
