<section class="min-h-screen flex items-stretch text-white">
  <div
    class="lg:flex w-1/2 hidden bg-gray-500 bg-no-repeat bg-cover relative items-center"
    style="
      background-image: url(https://st2.depositphotos.com/3258807/8987/i/950/depositphotos_89870020-stock-photo-college-professor-is-explaining-lecture.jpg);
      background-size: cover;
      background-position-x: 70%;
    "
  >
    <div class="absolute bg-black opacity-60 inset-0 z-0"></div>
    <div class="w-full px-24 z-10">
      <h1 class="text-5xl font-bold text-left tracking-wide">
        Listen Learn Grow
      </h1>
      <p class="text-3xl my-4">Teaching is the greatest act of optimism.</p>
    </div>
  </div>
  <div
    class="lg:w-1/2 w-full flex items-center justify-center text-center md:px-16 px-0 z-0"
    style="background-color: #464646"
  >
    <div
      class="absolute lg:hidden z-10 inset-0 bg-gray-500 bg-no-repeat bg-cover items-center"
      style="
        background-image: url(https://st2.depositphotos.com/3258807/8987/i/950/depositphotos_89870020-stock-photo-college-professor-is-explaining-lecture.jpg);
      "
    >
      <div class="absolute bg-black opacity-60 inset-0 z-0"></div>
    </div>
    <div class="w-full z-20">
      <h1 class="flex items-center justify-center pb-3">
        <img
          src="../../../../assets/images/logo.png"
          class="w-52"
          alt=""
          srcset=""
        />
      </h1>
      <form
        action=""
        class="sm:w-2/3 w-full px-4 lg:px-0 mx-auto"
        [formGroup]="registrationForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="flex justify-between py-4">
          <div>
            <input
              type="text"
              name="Full Name"
              formControlName="fullName"
              id="name"
              placeholder="Full Name"
              class="block w-full h-14 p-2 text-lg rounded-md bg-black me-3"
              [ngClass]="{
                'form-control is-invalid': submit && f.fullName.errors
              }"
            />
            <div *ngIf="submit && f.fullName.errors" class="invalid-feedback">
              <div *ngIf="f.fullName.errors['required']">
                First Name is required
              </div>
              <div *ngIf="f.fullName.errors['pattern']">Required some word</div>
            </div>
          </div>
          <div>
            <input
              type="email"
              name="email"
              id="email"
              formControlName="email"
              placeholder="Email"
              class="block w-full h-14 p-2 text-lg rounded-md bg-black"
              [ngClass]="{
                'form-control is-invalid': submit && f.email.errors
              }"
            />
            <div *ngIf="submit && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors['required']">E-mail is required</div>
              <div *ngIf="f.email.errors['email']">
                invalid E-mail, Please enter correctly
              </div>
            </div>
          </div>
        </div>
        <div class="flex justify-between py-4">
          <div>
            <input
              type="number"
              formControlName="mobile"
              name="mobile"
              id="mobile"
              placeholder="Mobile Number"
              class="block w-full h-14 p-2 text-lg rounded-md bg-black me-3"
              [ngClass]="{
                'form-control is-invalid': submit && f.mobile.errors
              }"
            />
            <div id="recaptcha-container" class="mt-2"></div>
            <div *ngIf="submit && f.mobile.errors" class="invalid-feedback">
              <div *ngIf="f.mobile.errors['required']">E-mail is required</div>
              <div *ngIf="f.mobile.errors['pattern']">
                Please Enter 10 digit mobile number
              </div>
            </div>
          </div>
          <div>
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Password"
              formControlName="password"
              class="block w-full h-14 p-2 text-lg rounded-md bg-black"
              [ngClass]="{
                'form-control is-invalid': submit && f.password.errors
              }"
            />
            <div *ngIf="submit && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors['required']">
                password is required
              </div>
              <div *ngIf="f.password.errors['pattern']">
                Password contain minimum 6 letters and combination of Alphabets
                and numbers and a special character
              </div>
            </div>
          </div>
        </div>
        <div
          *ngIf="otpFlag"
          id="otp"
          #inputs
          class="flex flex-row justify-center text-center px-2 mt-2"
        >
          <input
            class="m-2 border-3 h-10 w-10 text-center form-control rounded"
            type="number"
            id="first"
            oninput="javascript: if (this.value.length > 1) this.value = this.value.slice(0, 1);"
            (input)="onInput($event, 0)"
            (keydown)="onKeyDown($event, 0)"
          />
          <input
            class="m-2 border-3 h-10 w-10 text-center form-control rounded"
            type="number"
            id="second"
            oninput="javascript: if (this.value.length > 1) this.value = this.value.slice(0, 1);"
            (input)="onInput($event, 1)"
            (keydown)="onKeyDown($event, 1)"
          />
          <input
            class="m-2 border-3 h-10 w-10 text-center form-control rounded"
            type="number"
            id="third"
            oninput="javascript: if (this.value.length > 1) this.value = this.value.slice(0, 1);"
            (input)="onInput($event, 2)"
            (keydown)="onKeyDown($event, 2)"
          />
          <input
            class="m-2 border-3 h-10 w-10 text-center form-control rounded"
            type="number"
            id="fourth"
            oninput="javascript: if (this.value.length > 1) this.value = this.value.slice(0, 1);"
            (input)="onInput($event, 3)"
            (keydown)="onKeyDown($event, 3)"
          />
          <input
            class="m-2 border-3 h-10 w-10 text-center form-control rounded"
            type="number"
            id="fifth"
            oninput="javascript: if (this.value.length > 1) this.value = this.value.slice(0, 1);"
            (input)="onInput($event, 4)"
            (keydown)="onKeyDown($event, 4)"
          />
          <input
            class="m-2 border-3 h-10 w-10 text-center form-control rounded"
            type="number"
            id="sixth"
            oninput="javascript: if (this.value.length > 1) this.value = this.value.slice(0, 1);"
            (input)="onInput($event, 5)"
            (keydown)="onKeyDown($event, 5)"
          />
          <button
            type="button"
            (click)="otpVerify()"
            [class.loader]="isLoading"
            class="group h-7 my-3 px-3 text-center text-blue-500 border-3 border-blue-700 rounded-full transition duration-300 hover:border-white hover:bg-blue-600 hover:text-black focus:bg-blue-500 active:bg-blue-100"
          >
            <span class="font-bold" *ngIf="!isLoading">verify</span>
            <!-- Display "verify" text when not loading -->
            <span
              *ngIf="isLoading"
              class="inline-block h-4 w-4 animate-spin rounded-full border-4 border-solid border-current border-r-transparent align-[-0.125em] text-black motion-reduce:animate-[spin_1.5s_linear_infinite]"
              role="status"
            ></span>
            <!-- Display the spinner when loading -->
          </button>
        </div>
        <div class="flex flex-col">
          <p class="text-gray-300 mb-2 text-lg">
            Upload your graduation certificate here
          </p>
          <div class="flex items-center justify-center w-full">
            <label
              for="dropzone-file"
              [ngClass]="{
                'border-2 border-red-500': submit && f.certificate.errors
              }"
              id="image-label"
              style="
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
              "
              class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600"
            >
              <div class="flex flex-col items-center justify-center pt-3 pb-4">
                <svg
                  aria-hidden="true"
                  class="w-10 h-10 mb-3 text-gray-400"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"
                  ></path>
                </svg>
                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
                  <span class="font-semibold">Click to upload</span> or drag and
                  drop
                </p>
                <p class="text-xs text-gray-500 dark:text-gray-400">
                  SVG, PNG, JPG (MAX. 800x400px)
                </p>
              </div>
              <input
                id="dropzone-file"
                type="file"
                formControlName="certificate"
                class="hidden"
                (change)="imageInput($event)"
                [ngClass]="{
                  'form-control is-invalid': submit && f.certificate.errors
                }"
              />
              <div
                *ngIf="submit && f.certificate.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.certificate.errors['required']">
                  certificate is required
                </div>
              </div>
            </label>
          </div>
        </div>
        <div
          class="text-right text-gray-400 hover:underline hover:text-gray-100"
        ></div>
        <div class="flex px-4 pb-2 pt-4 items-center justify-center">
          <button
            type="submit"
            class="uppercase block w-96 p-2 text-lg rounded-full bg-indigo-500 hover:bg-indigo-600 focus:outline-none"
          >
            Register
          </button>
        </div>
      </form>
      <a routerLink="/tutor/login" class="font-semibold text-base underline text-blue-400">Already have an account</a>

    </div>
  </div>
</section>
