<div (click)="fullChat(c._id,c)" class="flex items-center border-b-2 border-grey-400 bg-grey-light cursor-pointer">
  <div>
    <img
      *ngIf="!c.connection.student.image"
      class="h-12 w-12 rounded-full"
      src="../../../../assets/images/red-profile.jpg"
    />
    <img
      *ngIf="c.connection.student.image"
      class="h-12 w-12 rounded-full"
      [src]="c.connection.student.image"
    />
  </div>
  <div class="ml-4 flex-1 py-3">
    <div class="flex items-bottom justify-between">
      <p class="text-grey-darkest text-base font-semibold">
        {{ c.connection.student.firstName }}
        {{ c.connection.student.lastName }}
      </p>
      <p class="flex flex-col text-xs text-grey-darkest">
        {{ c.updatedAt | date : "shortTime" }}
      </p>
    </div>
    <div class="flex items-bottom justify-between">
      <p class="text-grey-500 mt-1 ps-2 font-medium text-sm">
        {{ c?.last_message?.text }}
      </p>
      <span
        *ngIf="count > 0"
        class="bg-green-700 text-white text-xs mr-2 font-medium px-2.5 py-0.5 rounded-full"
        >{{ count }}</span
      >
    </div>
  </div>
</div>
