<!-- component -->
<div class="flex h-screen antialiased text-gray-800 relative">
  <div class="relative w-full">
    <img
      src="https://thumbs.dreamstime.com/b/e-learning-online-education-concept-device-screen-e-learning-online-education-concept-device-screen-162957825.jpg"
      class="w-full h-screen"
      alt=""
      srcset=""
    />
    <div class="absolute inset-0 bg-black opacity-80"></div>
  </div>
  <div
    class="absolute flex flex-row h-[95vh] w-full overflow-x-hidden pt-5 mt-14"
  >
    <!-- Left -->
    <div class="flex flex-row flex-auto h-full pb-2 rounded-lg">
      <div class="w-1/3 border flex flex-col bg-slate-50">
        <!-- Header -->
        <!-- Search -->
        <div class="py-2 px-2 bg-grey-lightest bg-slate-400">
          <input
            type="text"
            class="w-full px-2 py-2 text-sm rounded-md"
            placeholder="Search or start new chat"
            [(ngModel)]="searchQuery"
            (keyup)="searchContacts()"
          />
        </div>
        <!-- Contacts -->
        <div
          class="bg-grey-lighter overflow-auto"
          *ngFor="let c of searchQuery ? filteredContacts : contacts"
        >
          <div class="px-3 ps-4 bg-slate-100">
            <app-contacts [c]="c"> </app-contacts>
          </div>
        </div>
      </div>
      <div class="flex flex-col flex-auto bg-gray-100 h-full w-96 rounded-r-lg">
        <div
          *ngIf="chatShow == false"
          class="flex flex-col justify-center items-center h-full rounded-r-lg"
        >
          <img
            src="https://i.pinimg.com/originals/e3/1b/75/e31b752875679b64fce009922f9f0dda.gif"
            class="h-64 rounded-3xl"
            alt=""
            srcset=""
          />
          <p class="font-semibold text-lg mt-3 font-mono">
            Select a chat to start message :)
          </p>
        </div>
        <div
          id="chat-scroll"
          class="flex flex-col h-full overflow-x-auto mb-4 rounded-r-lg"
          *ngIf="chatShow"
        >
          <div
            class="flex absolute px-5 w-full z-10 flex-row justify-center items-center bg-cyan-950"
          >
            <div class="">
              <img
                *ngIf="!room.connection.teacher.image"
                class="h-12 w-12 rounded-full"
                src="../../../../assets/images/red-profile.jpg"
              />
              <img
                *ngIf="room.connection?.teacher?.image"
                class="h-12 w-12 rounded-full"
                [src]="room.connection?.teacher?.image"
              />
            </div>
            <div class="ml-4 flex-1 border-b border-grey-lighter py-4">
              <div class="flex flex-col items-start text-white">
                <p class="text-grey-darkest">
                  {{ room.connection.teacher.fullName }}
                </p>
                <p class="text-xs text-grey-darkest">
                  {{ room.updatedAt | date : "shortTime" }}
                </p>
              </div>
            </div>
          </div>
          <div class="flex flex-col h-full">
            <div class="grid grid-cols-12 gap-y-2" *ngFor="let m of messages">
              <div class="col-start-1 col-end-8 p-3 rounded-lg">
                <div
                  class="flex flex-row items-center"
                  *ngIf="m.from == m?.connection_id?.connection?.teacher?._id"
                >
                  <div
                    class="flex items-center justify-center h-10 w-10 rounded-full text-white bg-indigo-600 flex-shrink-0"
                  >
                    T
                  </div>
                  <div
                    class="relative ml-3 text-sm bg-white py-2 px-4 shadow rounded-xl"
                  >
                    <div class="font-sans">
                      <span class="text-base font-semibold">{{ m.text }}</span
                      ><span
                        class="font-black ms-1 mt-3 text-gray-600"
                        style="font-size: xx-small"
                        >{{ m.updatedAt | date : "shortTime" }}</span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="col-start-6 col-end-13 p-3 rounded-lg"
                *ngIf="m.from == m.connection_id?.connection?.student?._id"
              >
                <div class="flex items-center justify-start flex-row-reverse">
                  <div
                    class="flex items-center justify-center h-10 w-10 text-white rounded-full bg-cyan-700 flex-shrink-0"
                  >
                    S
                  </div>
                  <div
                    class="relative mr-3 text-sm bg-indigo-100 py-2 px-4 shadow rounded-xl"
                  >
                    <div class="font-sans">
                      <span class="text-base font-semibold">{{ m.text }}</span
                      ><span
                        class="font-black ms-1 mt-3 text-gray-600"
                        style="font-size: xx-small"
                        >{{ m.updatedAt | date : "shortTime" }}</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="flex flex-row items-center shadow-xl h-16 rounded-xl bg-white w-auto px-4 m-3"
          *ngIf="chatShow"
        >
          <form
            (ngSubmit)="sendMessage()"
            class="w-full flex flex-row items-center"
          >
            <div class="flex-grow ml-4">
              <div class="relative w-full">
                <input
                  type="text"
                  name="message"
                  [(ngModel)]="message"
                  ng-emoji-mart="smile"
                  class="flex w-full border-1 border-gray-700 rounded-xl focus:outline-none focus:border-indigo-300 pl-4 h-10"
                />
                <button
                  type="button"
                  class="absolute flex items-center justify-center h-full w-12 right-0 top-0 text-gray-400 hover:text-gray-600"
                >
                  <svg
                    class="w-6 h-6"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                    ></path>
                  </svg>
                </button>
              </div>
            </div>
            <div class="ml-4">
              <button
                type="submit"
                class="flex items-center justify-center bg-indigo-500 hover:bg-indigo-600 rounded-xl text-white px-4 py-1 flex-shrink-0"
              >
                <span>Send</span>
                <span class="ml-2">
                  <svg
                    class="w-4 h-4 transform rotate-45 -mt-px"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"
                    ></path>
                  </svg>
                </span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
