<div class="w-full h-full">
  <div class="flex flex-no-wrap bg-gray-950">
    <!-- Sidebar starts -->
    <!-- Remove class [ hidden ] and replace [ sm:flex ] with [ flex ] -->
    <div
      style="min-height: 716px"
      class="flex  w-64 shadow md:min-h-screen flex-col justify-between"
    >
      <div class="px-8">
        <div class="h-20 w-full flex flex-col items-center border-1 mt-5 border-cyan-800 rounded-lg">
          <img src="../../../assets/images/mini icon.png" class="w-24 mt-2" alt="" />
          <h1 class="text-center text-cyan-700 font-bold">Tutoriax Admin</h1>
        </div>
        <ul class="mt-8">
          <li
            class="flex w-full justify-between text-gray-300 cursor-pointer items-center mb-0"
          >
            <router-link
              class="flex items-center px-6 py-2 mt-4 duration-200 border-l-4 focus:outline-none focus:ring-2 focus:ring-white"
              [class]="
                currentRoute() === '/admin/dashboard'
                  ? activeClass
                  : inactiveClass
              "
              routerLink="./dashboard"
            >
              <svg
                class="w-5 h-5"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M2 10C2 5.58172 5.58172 2 10 2V10H18C18 14.4183 14.4183 18 10 18C5.58172 18 2 14.4183 2 10Z"
                  fill="currentColor"
                />
                <path
                  d="M12 2.25195C14.8113 2.97552 17.0245 5.18877 17.748 8.00004H12V2.25195Z"
                  fill="currentColor"
                />
              </svg>

              <span class="mx-4">Dashboard</span>
            </router-link>
          </li>
          <li
            class="flex w-full justify-between text-gray-400 hover:text-gray-300 cursor-pointer items-center mb-0"
          >
            <router-link
              class="flex items-center px-6 py-2 mt-4 duration-200 border-l-4 focus:outline-none focus:ring-2 focus:ring-white"
              [class]="
                currentRoute() == '/admin/courses' ? activeClass : inactiveClass
              "
              routerLink="./courses"
            >
              <svg
                class="w-5 h-5"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M5 3C3.89543 3 3 3.89543 3 5V7C3 8.10457 3.89543 9 5 9H7C8.10457 9 9 8.10457 9 7V5C9 3.89543 8.10457 3 7 3H5Z"
                  fill="currentColor"
                />
                <path
                  d="M5 11C3.89543 11 3 11.8954 3 13V15C3 16.1046 3.89543 17 5 17H7C8.10457 17 9 16.1046 9 15V13C9 11.8954 8.10457 11 7 11H5Z"
                  fill="currentColor"
                />
                <path
                  d="M11 5C11 3.89543 11.8954 3 13 3H15C16.1046 3 17 3.89543 17 5V7C17 8.10457 16.1046 9 15 9H13C11.8954 9 11 8.10457 11 7V5Z"
                  fill="currentColor"
                />
                <path
                  d="M11 13C11 11.8954 11.8954 11 13 11H15C16.1046 11 17 11.8954 17 13V15C17 16.1046 16.1046 17 15 17H13C11.8954 17 11 16.1046 11 15V13Z"
                  fill="currentColor"
                />
              </svg>

              <span class="mx-4">Courses</span>
            </router-link>
          </li>
          <li
            class="flex w-full justify-between text-gray-400 hover:text-gray-300 cursor-pointer items-center mb-0"
          >
            <router-link
              class="flex items-center px-6 py-1 mt-4 duration-200 border-l-4"
              [class]="
                currentRoute() === '/admin/teachers'
                  ? activeClass
                  : inactiveClass
              "
              routerLink="./teachers"
            >
              <i class="bx bx-id-card text-2xl"></i>
              <span class="mx-4">Teachers</span>
            </router-link>
          </li>
          <li
            class="flex w-full justify-between text-gray-400 hover:text-gray-300 cursor-pointer items-center mb-0"
          >
            <router-link
              class="flex items-center px-6 py-1 mt-4 duration-200 border-l-4"
              routerLink="./students"
              [class]="
                currentRoute() === '/admin/students'
                  ? activeClass
                  : inactiveClass
              "
            >
              <i class="bx bxs-group text-2xl"></i>
              <span class="mx-4">Students</span>
            </router-link>
          </li>
          <li
            class="flex w-full justify-between text-gray-400 hover:text-gray-300 cursor-pointer items-center mb-0"
          >
            <button
              class="flex items-center px-6 py-1 mt-4 duration-200 border-l-4 border-gray-900 text-gray-400 hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100"
              (click)="logout()"
            >
              <i
                class="bx bxs-log-in-circle bx-flip-horizontal text-2xl mt-1"
              ></i>
              <span class="mx-4">Logout</span>
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div
      class="w-64 min-h-screen z-40 absolute bg-gray-800 shadow sm:h-full md:h-full flex-col justify-between sm:hidden transition duration-150 ease-in-out"
      id="mobile-nav"
    >
      <button
        aria-label="toggle sidebar"
        id="openSideBar"
        class="h-10 w-10 bg-gray-800 absolute right-0 mt-16 -mr-10 flex items-center shadow rounded-tr rounded-br justify-center cursor-pointer focus:outline-none focus:ring-2 focus:ring-offset-2 rounded focus:ring-gray-800"
        (click)="sidebarHandler(true)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-adjustments"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#FFFFFF"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" />
          <circle cx="6" cy="10" r="2" />
          <line x1="6" y1="4" x2="6" y2="8" />
          <line x1="6" y1="12" x2="6" y2="20" />
          <circle cx="12" cy="16" r="2" />
          <line x1="12" y1="4" x2="12" y2="14" />
          <line x1="12" y1="18" x2="12" y2="20" />
          <circle cx="18" cy="7" r="2" />
          <line x1="18" y1="4" x2="18" y2="5" />
          <line x1="18" y1="9" x2="18" y2="20" />
        </svg>
      </button>
      <button
        aria-label="Close sidebar"
        id="closeSideBar"
        class="hidden h-10 w-10 bg-gray-800 absolute right-0 mt-16 -mr-10 flex items-center shadow rounded-tr rounded-br justify-center cursor-pointer text-white"
        (click)="sidebarHandler(false)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-x"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" />
          <line x1="18" y1="6" x2="6" y2="18" />
          <line x1="6" y1="6" x2="18" y2="18" />
        </svg>
      </button>
      <div class="px-8">
        <div class="h-16 w-full flex items-center p-5 mt-2">
          <img
            src="../../../assets/images/mini icon.png"
            class="w-28"
            alt=""
            srcset=""
          />
        </div>
        <h3 class="text-sky-700 text-center font-bold">Tutoriax Admin</h3>
        <ul class="mt-12">
          <li
            class="flex w-full justify-between text-gray-300 hover:text-gray-500 cursor-pointer items-center mb-6"
          >
            <router-link
              class="flex items-center px-6 py-2 mt-4 duration-200 border-l-4"
              [class]="
                currentRoute() === '/admin/dashboard'
                  ? activeClass
                  : inactiveClass
              "
              routerLink="./dashboard"
            >
              <svg
                class="w-5 h-5"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M2 10C2 5.58172 5.58172 2 10 2V10H18C18 14.4183 14.4183 18 10 18C5.58172 18 2 14.4183 2 10Z"
                  fill="currentColor"
                />
                <path
                  d="M12 2.25195C14.8113 2.97552 17.0245 5.18877 17.748 8.00004H12V2.25195Z"
                  fill="currentColor"
                />
              </svg>

              <span class="mx-4">Dashboard</span>
            </router-link>
          </li>
          <li
            class="flex w-full justify-between text-gray-400 hover:text-gray-300 cursor-pointer items-center mb-6"
          >
            <router-link
              class="flex items-center px-6 py-2 mt-4 duration-200 border-l-4"
              [class]="
                currentRoute() == '/admin/courses' ? activeClass : inactiveClass
              "
              routerLink="./courses"
            >
              <svg
                class="w-5 h-5"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M5 3C3.89543 3 3 3.89543 3 5V7C3 8.10457 3.89543 9 5 9H7C8.10457 9 9 8.10457 9 7V5C9 3.89543 8.10457 3 7 3H5Z"
                  fill="currentColor"
                />
                <path
                  d="M5 11C3.89543 11 3 11.8954 3 13V15C3 16.1046 3.89543 17 5 17H7C8.10457 17 9 16.1046 9 15V13C9 11.8954 8.10457 11 7 11H5Z"
                  fill="currentColor"
                />
                <path
                  d="M11 5C11 3.89543 11.8954 3 13 3H15C16.1046 3 17 3.89543 17 5V7C17 8.10457 16.1046 9 15 9H13C11.8954 9 11 8.10457 11 7V5Z"
                  fill="currentColor"
                />
                <path
                  d="M11 13C11 11.8954 11.8954 11 13 11H15C16.1046 11 17 11.8954 17 13V15C17 16.1046 16.1046 17 15 17H13C11.8954 17 11 16.1046 11 15V13Z"
                  fill="currentColor"
                />
              </svg>

              <span class="mx-4">Courses</span>
            </router-link>
          </li>
          <li
            class="flex w-full justify-between text-gray-400 hover:text-gray-300 cursor-pointer items-center mb-6"
          >
            <router-link
              class="flex items-center px-6 py-2 mt-4 duration-200 border-l-4"
              [class]="
                currentRoute() === '/admin/teachers'
                  ? activeClass
                  : inactiveClass
              "
              routerLink="./teachers"
            >
              <i class="bx bx-id-card text-2xl"></i>
              <span class="mx-4">Teachers</span>
            </router-link>
          </li>
          <li
            class="flex w-full justify-between text-gray-400 hover:text-gray-300 cursor-pointer items-center mb-6"
          >
            <router-link
              class="flex items-center px-6 py-2 mt-4 duration-200 border-l-4"
              routerLink="./students"
              [class]="
                currentRoute() === '/admin/students'
                  ? activeClass
                  : inactiveClass
              "
            >
              <i class="bx bxs-group text-2xl"></i>
              <span class="mx-4">Students</span>
            </router-link>
          </li>
          <li
            class="flex w-full justify-between text-gray-400 hover:text-gray-300 cursor-pointer items-center mb-6"
          >
            <button
              type="button"
              (click)="logout()"
              class="flex items-center px-6 py-2 mt-4 duration-200 border-l-4 border-gray-900 text-gray-400 hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100"
            >
              <i
                class="bx bxs-log-in-circle bx-flip-horizontal text-2xl mt-1"
              ></i>
              <span class="mx-4">Logout</span>
            </button>
          </li>
        </ul>
      </div>
    </div>
    <!-- Sidebar ends -->
    <header class="bg-gray-900  w-full ">
      <div
        class="bg-gray-950 min-w-full flex flex-row justify-between pe-3 border-b-2 border-cyan-800 rounded-b-sm"
      >
        <div class="m-4 ms-9 ps-4">
          <img class="w-56" src="../../../assets/images/logo.png" alt="" />
        </div>
        <div class="flex flex-row my-3 pe-5 pt-3">
          <i class="bx bx-bell text-2xl me-5 mt-1 text-white"></i>
          <img
            class="h-10 w-10 rounded-full"
            src="/assets/images/me.jpg"
            alt=""
          />
        </div>
      </div>
      <router-outlet></router-outlet>
    </header>
  </div>
</div>
