input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
 /* CSS to hide the sidebar labels */
 .sidebar-label {
  display: none;
}

/* CSS to show the sidebar labels on toggle */
.sidebar-collapsed .sidebar-label {
  display: inline;
}
