<div class="max-w-screen-2xl max-h-screen-sm relative">
  <div class="relative">
    <img
      src="https://e0.pxfuel.com/wallpapers/169/925/desktop-wallpaper-homepage-real-estate-empower-online-learning.jpg"
      class="w-full h-96"
      alt=""
      srcset=""
    />
  </div>
  <div
    class="container flex items-center justify-center w-auto min-h-screen text-gray-800"
  >
    <!-- Component Start -->
    <div
      class="grid lg:grid-cols-3 md:grid-cols-2 gap-8 w-full max-w-screen-lg"
    >
      <div class="lg:col-span-2">
        <div class="rounded my-4 py-3 shadow-lg">
          <div class="flex items-center justify-center">
            <h2
              class="text-base w-36 text-center font-bold border-1 border-gray-400 shadow-xl rounded-md"
            >
              Course Details
            </h2>
          </div>
          <div class="p-10">
            <div class="flex justify-center">
              <video
                *ngIf="courseView && course.video_id"
                class="w-auto h-72 mb-4"
                controls
              >
                <source [src]="course.video_id" type="video/mp4" />
              </video>
              <img
                *ngIf="courseView == false"
                [src]="course.image_id"
                class="rounded-md"
                alt=""
              />
            </div>
          </div>
          <div class="text-center">
            <h4 class="font-bold text-2xl">{{ course.title }}</h4>
            <div
              class="text-center p-5 bg-gray-200 m-4 rounded-md place-items-center"
            >
              <div
                class="grid grid-cols-2 gap-4 border-2 border-gray-200 rounded-md place-items-center items-center shadow-md"
              >
                <!--First name input-->
                <div
                  class="relative my-3 text-start text-gray-700"
                  data-te-input-wrapper-init
                >
                  <p class="font-semibold text-base">Creator</p>
                </div>
                <!--Last name input-->
                <div class="relative my-3" data-te-input-wrapper-init>
                  <p class="text-gray-900 font-bold text-lg">
                    {{ course.author }}
                  </p>
                </div>
              </div>
              <div
                class="grid grid-cols-2 gap-4 mt-4 border-2 border-gray-200 rounded-md place-items-center items-center shadow-md"
              >
                <!--First name input-->
                <div
                  class="relative my-3 text-start text-gray-700"
                  data-te-input-wrapper-init
                >
                  <p class="font-semibold text-base">Price</p>
                </div>
                <!--Last name input-->
                <div class="relative my-3" data-te-input-wrapper-init>
                  <p class="text-red-500 font-bold text-base">
                    {{ course.price }}.00 RS
                  </p>
                </div>
              </div>
              <div
                class="grid grid-cols-2 gap-4 mt-4 border-2 border-gray-200 rounded-md place-items-center items-center shadow-md"
              >
                <!--First name input-->
                <div
                  class="relative my-3 text-start text-gray-700"
                  data-te-input-wrapper-init
                >
                  <p class="font-semibold text-base">Created At</p>
                </div>
                <!--Last name input-->
                <div class="relative my-3" data-te-input-wrapper-init>
                  <p class="text-gray-900 font-bold text-lg">
                    {{ course.date | date : "yyyy-MM-dd" }}
                  </p>
                </div>
              </div>
              <div
                class="mt-4 p-2 border-2 border-gray-200 rounded-md place-items-center items-center shadow-md"
              >
                <h5 class="text-gray-500 text-base font-bold">About</h5>
                <p class="text-black font-medium">{{ course.description }}</p>
              </div>
              <div class="flex items-end justify-end pt-5">
                <button
                  (click)="modalShow('show')"
                  class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-pink-500 to-orange-400 group-hover:from-pink-500 group-hover:to-orange-400 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800"
                >
                  <span
                    class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-transparent dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
                  >
                    Report
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        id="report-modal"
        *ngIf="modal"
        tabindex="-1"
        aria-hidden="true"
        class="flex fixed items-center z-50 w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full"
      >
        <div class="relative w-full max-w-md max-h-full">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button
              (click)="modalShow('hide')"
              type="button"
              class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white"
              data-modal-hide="authentication-modal"
            >
              <svg
                aria-hidden="true"
                class="w-5 h-5"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                ></path>
              </svg>
              <span class="sr-only">Close modal</span>
            </button>
            <div class="px-6 py-6 lg:px-8">
              <form
                class="space-y-6"
                [formGroup]="reportForm"
                (ngSubmit)="onSubmit(course._id)"
              >
                <div>
                  <label
                    for="email"
                    class="block mb-2 text-sm font-medium text-gray-900"
                    >Please enter the reason</label
                  >
                  <input
                    [ngClass]="{
                      'form-control is-invalid': submit && f.text.errors
                    }"
                    type="text"
                    formControlName="text"
                    name="text"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    placeholder="Enter your issue"
                    required
                  />
                  <div *ngIf="submit && f.text.errors" class="invalid-feedback">
                    <div *ngIf="submit && f.text.errors['required']">
                      Content is required
                    </div>
                    <div *ngIf="submit && f.text.errors['pattern']">
                      Enter proper reason
                    </div>
                  </div>
                </div>

                <button
                  type="submit"
                  class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                >
                  submit
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="courseView == false" class="my-10">
        <div class="bg-white rounded mt-4 shadow-lg py-6">
          <div class="px-8">
            <h5
              class="text-center font-semibold text-base my-6 border-1 p-2 rounded-md"
            >
              {{ course.title }} Course
            </h5>
            <div class="flex items-end">
              <div
                class="text-sm font-medium focus:outline-none -ml-1"
                name=""
                id=""
              >
                Amount
              </div>
              <span class="text-sm ml-auto font-semibold text-red-600"
                >{{ course.price }}.00</span
              >
            </div>
          </div>
          <div class="px-8 mt-4">
            <div class="flex items-end justify-between">
              <span class="text-sm font-semibold">Tax</span>
              <span class="text-sm text-gray-500 mb-px">0.00</span>
            </div>
          </div>
          <div class="px-8 mt-4 border-t pt-4">
            <div class="flex items-end justify-between">
              <span class="text-sm font-semibold">Total</span>
              <span id="price" class="text-sm text-red-700 mb-px font-bold"
                >{{ course.price }}.00 Rs</span
              >
            </div>
            <div class="flex items-center justify-end pt-3">
              <input
                type="text"
                placeholder="Coupon Code"
                id="coupon"
                [(ngModel)]="coupon"
                class="rounded-l-lg border-1 border-gray-700 h-8 ps-2"
              />
              <a
                class="px-3 py-2 text-xs font-medium text-center text-white bg-blue-700 rounded-r-lg hover:bg-blue-800"
                (click)="apply(course.price)"
                id="applyButton"
                >Apply</a
              >
            </div>
          </div>
          <div class="flex items-center px-8 mt-8">
            <input id="termsConditions" type="checkbox" />
            <label class="text-xs text-gray-500 ml-2" for="termsConditions"
              >I agree to the terms and conditions.</label
            >
          </div>

          <div class="flex flex-col px-8 pt-4">
            <button
              (click)="payNow(course)"
              class="flex items-center justify-center bg-violet-600 text-sm font-medium w-full h-10 rounded text-blue-50 hover:bg-violet-700"
            >
              Buy now
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Component End  -->
  </div>
</div>
